@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Comic+Relief:wght@400;700&family=Fira+Sans:ital,wght@0,100;0,200;0,400;1,200&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tagesschrift&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a81f1f;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 30px;
}

.header img {
  height: 100px;
  cursor: pointer;
}

.header a {
  font-family: "Roboto", sans-serif;
  color: #eed5d5;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
}

.header a:hover {
  color: #a81f1f;
  text-shadow: 1px 1px 1px #eed5d5;
  transition: 0.5s ease-in-out;
}

/* Conteudo */
.contact-btn {
  background-color: #ffffffe8;
  padding: 1rem;
  color: #a81f1f;
  border: 1px solid #eed5d5;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: transparent;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  transition: 0.4s;
}

.logo-header {
  height: 400px;
}

.logo-dms {
  height: 600px;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
}

.container-about {
  width: 50%;
}

.container-about p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 1.5px;
  color: #eed5d5;
}

.container-about button {
  margin: 1rem;
}

video {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.container-video {
  position: fixed;
  top: 0;
  z-index: -1;
}

.mascara {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
  position: fixed;
  top: 0;
}

.link-whatsapp img {
  height: 70px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

/* formulário */

.talk {
  background-color: #ffffffb6;
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: fixed;
  left: -300px;
  top: 30%;
  padding: 20px;
  border-radius: 5px;
  transition: left 1s ease-in-out;
}

input {
  font-family: "Roboto", sans-serif;
  height: 43px;
  border-radius: 5px;
  border: 1px solid #524f4fe7;
  padding-left: 5px;
  outline-color: #a81f1f;
}

textarea {
  font-family: "Roboto", sans-serif;
  height: 100px;
  width: 270px;
  border-radius: 5px;
  border: 1px solid #524f4fe7;
  padding-left: 5px;
  outline-color: #a81f1f;
}

.mascara-form {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
  transition: visibility 1s ease-in-out;
}

.contact-form {
  background-color: #a81f1f;
  padding: 1rem;
  color: #ffffffe8;
  border: 1px solid #eed5d5;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
}

.contact-form:hover {
  background-color: transparent;
  border: 1px solid #a81f1f;
  color: #a81f1f;
  transition: 0.5s ease-in-out;
}
